.city-nav-img {
  padding-right: 15px;
}
#city-post {
  /*border: solid 2px red;*/
}
.user-img {
  padding: 0px 15px 15px 15px;
}
.carousel {
  border: blue;
}
.front-picture {
  height: 100px;
  width: 100px;
}
