<!DOCTYPE html>
<html>

<head>
  <!-- Compiled and minified CSS -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.1/css/materialize.min.css">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link rel="stylesheet" href="styles/styles.css">
  <meta charset="utf-8">
  <title>Wayfarer - SF</title>
</head>

<body>
  <!-- Adding Materialize Javascript & jQuery CDNs -->
  <script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
  <!-- Compiled and minified JavaScript -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.1/js/materialize.min.js"></script>
  <!--Script Document Ready select.material_select is required for materialize forms  -->
  <script type="text/javascript">
    $(document).ready(function() {
    $("select").material_select();
    });
  </script>

  <!-- Create a New Post Form - Title, Message Body, & City  -->
  

  </body>
</html>
