<!DOCTYPE html>
<html>

<head>
  <!-- Compiled and minified CSS -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.1/css/materialize.min.css">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link rel="stylesheet" href="styles/styles.css">
  <meta charset="utf-8">
  <title>Wayfarer - SF</title>
</head>

<body>
  <!-- Adding Materialize Javascript & jQuery CDNs -->
  <script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
  <!-- Compiled and minified JavaScript -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.1/js/materialize.min.js"></script>
  <!--Script Document Ready select.material_select is required for materialize forms  -->
  <script type="text/javascript">
    $(document).ready(function() {
    $("select").material_select();
    });
  </script>

  <!-- Create a New Post Form - Title, Message Body, & City  -->
  <div class="row">
   <form class="col s12">
     <div class="row">
       <div class="input-field col s6">
         <input id="first_name" type="text" class="validate">
         <label for="first_name">First Name</label>
       </div>
       <div class="input-field col s6">
         <input id="last_name" type="text" class="validate">
         <label for="last_name">Last Name</label>
       </div>
     </div>
    
     <div class="row">
       <div class="input-field col s12">
         <input id="password" type="password" class="validate">
         <label for="password">Password</label>
       </div>
     </div>
     <div class="row">
       <div class="input-field col s12">
         <input id="email" type="email" class="validate">
         <label for="email">Email</label>
       </div>
     </div>

   </form>
 </div>

  </body>
</html>
